.cakes .content-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.cakes__title {
  margin-top: 48px;
  margin-bottom: 32px;
}

.cakes__list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.cakes__item-title {
  font-family: @main-font-regular, @web-safe-font, @web-safe-default-font;
  font-size: 14px;
  line-height: 1.2;
}

.cakes__item {
  position: relative;
  margin: 0 auto 10px;
  height: 120px;
  background-color: @section-color;

  &--for-children {
    background-color: @children-section-color;
  }
}

.cakes__item-link {
  position: absolute;
  font-size: 0;
  cursor: pointer;
}

.cakes__link-arrow {
  display: none;
}

.cakes__item-picture {
  opacity: 1;
  width: 100%;
}

.cakes__item:hover .cakes__item-picture,
.cakes__item:active .cakes__item-picture {
  opacity: 0.4;
}

.cakes__items-wrapper {
  display: block;
}

.cakes__item-info {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 12px;
  color: @note-font-color;
  z-index: 10;
}

@media (min-width: @tablet-shift-width) {
  .cakes__title {
    text-align: start;
    margin-top: 139px;
    margin-bottom: 36px;
  }

  .cakes__items-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .cakes__items-wrapper:first-of-type {
    margin-bottom: 20px;
  }

  .cakes__item {
    flex-basis: 420px;
    height: auto;
    margin: 0;
    box-shadow: 0 10px 13px @card-shadow-color;

    &--classic {
      flex-grow: 1;
      margin-right: 20px;
    }

    &--for-children {
      flex-grow: 1;
      margin-left: 20px;
    }
  }

  .cakes__item-image {
    max-height: 388px;
  }

  .cakes__item:hover,
  .cakes__item:active {
    box-shadow: 0 10px 13px @card-shadow-color-intense;
  }

  .cakes__item-link {
    bottom: 20px;
    right: 74px;
  }

  .cakes__item--classic .cakes__item-link {
    font-size: 12px;
  }

  .cakes__link-arrow {
    width: 17px;
    height: 12px;
  }

  .cakes__items-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 288px;
  }

  .cakes__items-group .cakes__item {
    flex-basis: 184px;
    width: 288px;
    margin: 0;
  }

  .cakes__item-info {
    top: 22px;
    left: 26px;
  }
}

@media (min-width: @desktop-shift-width) {
  .cakes .content-wrapper {
    max-width: @desktop-max-width;
    padding-left: 72px;
    padding-right: 72px;
  }

  .cakes__title {
    margin-top: -60px;
    margin-bottom: 62px;
  }

  .cakes__list {
    min-height: 1348px;
  }

  .cakes__item {
    flex-basis: 695px;
    height: 652px;

    &--classic {
      margin-right: 42px;
    }

    &--for-children {
      margin-left: 42px;
    }
  }

  .cakes__item-image {
    max-height: 653px;
  }

  .cakes__item-link {
    bottom: 29px;
    right: 70px;
  }

  .cakes__item--classic .cakes__item-link {
    font-size: 20px;
  }

  .cakes__link-arrow {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-left: 20px;
    vertical-align: -3px;
    fill: @gray-color;
  }

  .cakes__item-link:hover .cakes__link-arrow,
  .cakes__item-link:active .cakes__link-arrow {
    fill: @accent-color;
  }

  .cakes__items-group {
    min-height: 652px;
  }

  .cakes__items-wrapper:first-of-type {
    margin-bottom: 42px;
  }

  .cakes__items-group .cakes__item {
    flex-basis: 305px;
    width: 484px;
    margin-bottom: 0;
  }

  .cakes__item-info {
    font-size: 20px;
    top: 36px;
    left: 46px;
  }

  .cakes__item-title {
    font-size: 24px;
  }
}
