.customer-care .content-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("../img/customer-care-back-mobile.png");
  background-repeat: no-repeat;
  background-position: center 132px;
  background-size: 461px;
  text-align: left;
  font-family: @main-font-regular, @web-safe-font, @web-safe-default-font;
  font-size: 14px;
  line-height: 1.2;
}

.customer-care__title {
  padding-top: 35px;
  padding-bottom: 6px;
  text-align: left;
}

.customer-care__subtitle {
  margin: 0;
  font-family: @accent-font, @web-safe-font, @web-safe-default-font;
  font-size: 22px;
}

.customer-care__text {
  margin: 0;
  padding-bottom: 158px;
}

@media (min-width: @tablet-shift-width) {
  .customer-care .content-wrapper {
    min-height: 431px;
    margin-top: -119px;
    padding-left: 47px;
    padding-right: 47px;
    background-image: url("../img/customer-care-back-tablet.png");
    background-size: 449px 441px;
    background-position: top right;
  }

  .customer-care__wrapper {
    max-width: 310px;
  }

  .customer-care__title {
    padding-top: 181px;
    padding-bottom: 6px;
    text-align: left;
  }

  .customer-care__subtitle {
    font-size: 26px;
  }

  .customer-care__text {
    margin: 0;
    padding-bottom: 95px;
    line-height: 1.2;
  }
}

@media (min-width: @desktop-shift-width) {
  .customer-care .content-wrapper {
    max-width: @desktop-shift-width;
    min-height: 745px;
    margin-top: -182px;
    padding-left: 34px;
    padding-right: 34px;
    background-image: url("../img/customer-care-back-desktop.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 800px;
  }

  .customer-care__wrapper {
    max-width: 445px;
  }

  .customer-care__title {
    padding-top: 307px;
    padding-bottom: 20px;
  }

  .customer-care__subtitle {
    font-size: 35px;
  }

  .customer-care__text {
    font-size: 20px;
  }
}
