.decoration__choice-wrapper {
  display: block;
}

.decoration__choice-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.decoration__item {
  margin-top: 24px;
  display: none;

  &--marshmallow {
    display: block;
  }
}

.decoration__preview {
  position: relative;
  max-width: 169px;
  margin: 0 auto;
  font-size: 0;
}

.decoration__count {
  font-family: @main-font-regular, @web-safe-font, @web-safe-default-font;
  font-size: 18px;
  line-height: 1.2;
  color: @note-font-color;

  &--img {
    position: absolute;
    bottom: 3px;
    right: 6px;
    font-size: 12px;
  }

  &--block {
    display: none;
  }
}

.decoration__choice-indicator {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 5px;
}

.decoration__type {
  text-align: center;
  line-height: 1.5;
}

.decoration__price {
  margin-bottom: 29px;
  text-align: center;
  font-family: @secondary-font-bold, @web-safe-font, @web-safe-default-font;
  font-size: 18px;
  line-height: 1.2;
}

.decoration__prev,
.decoration__next {
  display: none;
}

.decoration__choose {
  padding: 17px 60px 15px;
  font-size: 13px;
}

@media (min-width: @tablet-shift-width) {
  .decoration {
    position: relative;
  }

  .decoration__choice-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 610px;
    padding-left: 119px;
    margin: 0 auto;
  }

  .decoration__choice-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 410px;
    margin: -75px auto 0;
  }

  .decoration__item {
    display: inline-block;

    &--marshmallow {
      display: inline-block;
    }
  }

  .decoration__item:hover,
  .decoration__item:active {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14);
  }

  .decoration__preview {
    max-width: 195px;
  }

  .decoration__choose {
    display: none;
  }

  .decoration__choice-indicator {
    display: none;
  }

  .decoration__count {
    &--block {
      display: inline;
      position: absolute;
      font-size: 12px;
      bottom: -3px;
      right: -12px;
      color: @note-font-color;
    }

    &--img {
      font-size: 12px;
      display: none;
    }
  }

  .decoration__prev {
    display: block;
    top: -27px;
    left: -26px;
  }

  .decoration__next {
    display: block;
    top: -27px;
    left: 31px;
  }

  .decoration__type {
    position: relative;
    text-align: center;
    line-height: 1.5;
    margin-top: -58px;
  }

  .decoration__price {
    position: relative;
    //margin-bottom: 16px;
  }
}

@media (min-width: @desktop-shift-width) {
  .decoration {
    flex-grow: 1;
  }

  .decoration__choice-wrapper {
    max-width: 1054px;
    padding-left: 203px;
  }

  .decoration__count {
    &--block {
      bottom: -5px;
      right: -12px;
      font-size: 18px;
    }
  }

  .decoration__preview {
    max-width: 321px;
  }

  .decoration__choice-list {
    width: 685px;
    margin: -103px auto 0;
  }

  .decoration__type {
    margin-top: -80px;
  }

  .decoration__price {
    font-size: 22px;
  }

  .decoration__prev {
    top: -38px;
    left: -7px;
  }

  .decoration__next {
    left: 10px;
  }
}
