.features {
  font-size: 14px;
  font-family: @main-font-regular, @web-safe-font, @web-safe-default-font;
  line-height: 1.2;
}

.feature {
  margin-bottom: 20px;
}

.feature:last-of-type {
  margin-bottom: 0;
}

.feature__body {
  display: inline-block;
  max-width: 220px;
}

.feature__title {
  padding-bottom: 4px;
  font-size: 15px;
  font-family: @main-font-bold, @web-safe-font, @web-safe-default-font;
  line-height: 1.2;
}

.feature__number {
  display: inline-block;
  max-width: 28px;
  vertical-align: top;
  margin-right: 10px;
  margin-left: 19px;
  font-size: 35px;
  font-family: @secondary-font-bold, @web-safe-font, @web-safe-default-font;
  line-height: 0.3;
}

.feature__text {
  margin: 0;
  line-height: 1.2;
}

@media (min-width: @desktop-shift-width) {
  .feature__title {
    font-size: 21px;
  }

  .features {
    font-size: 20px;
  }

  .feature__number {
    font-size: 64px;
  }
}
