.feedback .content-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  font-family: @main-font-regular, @web-safe-font, @web-safe-default-font;
  font-size: 12px;
  line-height: 1.2;
}

.feedback__item {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

.feedback__title {
  padding-top: 41px;
  padding-bottom: 19px;
}

.feedback__author-photo {
  display: block;
  margin: 0 auto 6px;
  width: 58px;
  border-radius: 50%;
}

.feedback__author-name {
  font-style: normal;
  text-align: center;
  font-family: @main-font-bold, @web-safe-font, @web-safe-default-font;
  font-size: 14px;
  line-height: 1.2;
}

.feedback__author-info {
  font-style: normal;
  text-align: center;
}

.feedback__text {
  text-align: center;
  margin: 7px auto 6px;
  max-width: 240px;
}

.feedback__show-more {
  font-family: @web-safe-font, @web-safe-default-font;
  font-style: italic;
  color: @secondary-accent-color;
  text-decoration: underline;
}

.feedback__show-indicator {
  width: 100%;
  text-align: center;
  font-size: 0;
  margin-top: 10px;
  margin-bottom: 46px;
}

input[name="feedback-indicator"] + label {
  padding-right: 3px;
}

input[name="feedback-indicator"] + label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: @border-color;
  cursor: pointer;
}

input[name="feedback-indicator"]:checked + label::before {
  background-color: @accent-color;
}

.feedback__show-indicator input[type="radio"] {
  display: none;
}

.feedback__count {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  color: @accent-color;
}

.feedback__prev,
.feedback__next {
  display: none;
}

@media (min-width: @tablet-shift-width) {
  .feedback .content-wrapper {
    padding-left: 91px;
    padding-right: 91px;
    background-image: url("../img/feedback-decor-tablet.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    font-size: 14px;
  }

  .feedback__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .feedback__item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 150px;
    flex-wrap: wrap;
    margin: 0;
    margin-right: 157px;
  }

  .feedback__author-name {
    font-size: 16px;
    text-align: left;
  }

  .feedback__author-info {
    text-align: left;
  }

  .feedback__author-photo {
    margin: 25px;
    width: 107px;
  }

  .feedback__text {
    text-align: left;
    margin: 12px auto 6px;
    max-width: 280px;
  }

  .feedback__show-indicator {
    display: none;
  }

  .feedback__prev,
  .feedback__next {
    display: inline-block;
  }

  .feedback__count {
    position: absolute;
    right: -144px;
    bottom: -21px;
  }
}

@media (min-width: @desktop-shift-width) {
  .feedback .content-wrapper {
    max-width: @desktop-max-width;
    padding-left: 257px;
    padding-right: 257px;
    font-size: 18px;
    background-image: url("../img/feedback-decor-desktop.png");
    background-repeat: no-repeat;
    background-position: center top;
  }

  .feedback__wrapper {
    align-content: center;
  }

  .feedback__title {
    padding-top: 107px;
    padding-bottom: 57px;
  }

  .feedback__item {
    height: 210px;
    margin-right: 265px;
  }

  .feedback__author-name {
    font-size: 27px;
  }

  .feedback__author-photo {
    width: 209px;
    margin-right: 60px;
  }

  .feedback__text {
    max-width: 370px;
    margin: 23px auto 7px;
    line-height: 1.3;
  }

  .feedback__count {
    font-size: 18px;
    right: -327px;
    bottom: -15px;
  }
}
