.filling {
  padding: 4px 19px 26px;
}

.filling__title {
  margin: 0;
}

.filling__choice-wrapper {
  position: relative;
}

.filling__choice-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.filling__preview {
  position: relative;
  max-width: 244px;
  margin: 0 auto;
  padding-top: 17px;
  font-size: 0;
}

.filling__choice-indicator {
  position: absolute;
  top: 130px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 0;
}

input[name="filling-indicator"] + label {
  padding-right: 3px;
}

input[name="filling-indicator"] + label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: @border-color;
  cursor: pointer;
}

input[name="filling-indicator"]:checked + label::before {
  background-color: @accent-color;
}


.filling__choice-indicator input[type="radio"] {
  display: none;
}

.filling__info {
  margin-bottom: 22px;
  margin-top: 37px;
}

.filling__item-title {
  font-family: @main-font-bold, @web-safe-font, @web-safe-default-font;
  font-size: 16px;
  line-height: 1.2;
}

.filling__item-text {
  margin: 4px 0 16px;
}

.filling__item-price {
  font-family: @secondary-font-bold, @web-safe-font, @web-safe-default-font;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
}

.filling__submit-choice {
  padding: 17px 60px 15px;
  font-size: 13px;
}

.filling__count {
  font-family: @main-font-regular, @web-safe-font, @web-safe-default-font;
  font-size: 12px;
  color: @note-font-color;

  &--block {
    display: none;
  }

  &--img {
    position: absolute;
    bottom: 12px;
    right: 8px;
    font-size: 12px;
    line-height: 0;
    color: @secondary-font-color;
  }
}

.filling__prev,
.filling__next {
  display: none;
}

@media (min-width: @tablet-shift-width) {
  .filling {
    position: relative;
    padding: 27px 45px 60px;
  }

  .filling__choice-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -34px;
  }

  .filling__choice-list {
    width: 380px;
    margin: 0 auto;
  }

  .filling__title {
    max-width: 130px;
  }

  .filling__item {
    position: relative;
    display: flex;
    height: 210px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin: 0 auto;
  }

  .filling__item-title {
    font-size: 18px;
  }

  .filling__item-text {
    margin: 4px 0 10px;
  }

  .filling__item-price {
    font-size: 20px;
    text-align: left;
  }

  .filling__preview {
    flex-basis: 210px;
    margin: 0 25px 15px 0;
    padding: 0;
  }

  .filling__info {
    margin-top: 0;
    margin-bottom: 17px;
    flex-basis: 130px;
    width: 200px;
  }

  .filling__submit-choice {
    padding: 14px 40px 10px;
    font-size: 13px;
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 18px;
  }

  .filling__choice-indicator {
    display: none;
  }

  .filling__count {
    &--block {
      position: absolute;
      display: inline;
      bottom: 50px;
      right: 66px;
      font-size: 12px;
      color: @note-font-color;
    }

    &--img {
      display: none;
    }
  }

  .filling__prev,
  .filling__next {
    display: block;
    position: absolute;
    font-size: 0;
  }

  .filling__prev {
    top: 73px;
    left: 50px;
  }

  .filling__next {
    top: 73px;
    right: 4px;
  }
}

@media (min-width: @desktop-shift-width) {
  .filling {
    padding: 44px 82px 16px;
  }

  .filling__choice-wrapper {
    margin-top: -134px;
  }

  .filling__choice-list {
    width: 630px;
  }

  .filling__title {
    max-width: 214px;
    font-size: 27px;
  }

  .filling__item {
    height: 510px;
    align-content: start;
  }

  .filling__item-title {
    letter-spacing: 1px;
  }

  .filling__item-text {
    margin: 4px 0 19px;
    line-height: 1.3;
  }

  .filling__preview {
    max-width: 343px;
    margin-bottom: 39px;
    margin-right: 39px;
  }

  .filling__info {
    flex-basis: 170px;
    width: 273px;
    margin-bottom: 40px;
  }

  .filling__count {
    &--block {
      bottom: 88px;
      right: 126px;
      font-size: 18px;
    }
  }

  .filling__item-price {
    font-size: 22px;
  }

  .filling__submit-choice {
    padding: 18px 62px 15px;
    margin-bottom: 23px;
  }

  .filling__prev {
    top: 219px;
    left: 104px;
  }

  .filling__next {
    top: 219px;
    right: 30px;
  }
}
