.how-to-order {
  background: @offer-block-normal-color;
  //background-image: linear-gradient(to top, #d72631, #ea4145);
  background-image: url("../img/how-to-order-back-mobile-tr.png");
  background-repeat: no-repeat;
  background-position: center 310px;
  background-size: auto 232px;
}

.how-to-order .content-wrapper {
  color: @secondary-font-color;
}

.how-to-order__title {
  padding-top: 30px;
  padding-bottom: 34px;
}

.how-to-order__features {
  max-width: 275px;
  margin: 0 auto;
  padding-left: 0;
  padding-bottom: 145px;
  list-style: none;
}

@media (min-width: @tablet-shift-width) {
  .how-to-order {
    background-image: url("../img/how-to-order-back-tablet-tr.png");
    background-position: -216px 64px;
    background-size: 573px auto;
  }

  .how-to-order .content-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 193px;
  }

  .how-to-order__title {
    display: inline-block;
    width: 310px;
    padding-top: 46px;
    padding-bottom: 34px;
    text-align: left;
  }

  .how-to-order__features {
    max-width: 310px;
    margin: 0;
    padding-bottom: 64px;
  }
}

@media (min-width: @desktop-shift-width) {
  .how-to-order {
    background-image: url("../img/how-to-order-back-desktop-tr.png");
    background-size: auto 768px;
    background-position: calc(50% - 90px) 62px;
  }

  .how-to-order .content-wrapper {
    max-width: 1366px;
    align-items: flex-start;
    padding-left: 830px;
  }

  .how-to-order__title {
    width: 500px;
    padding-top: 118px;
  }

  .how-to-order__features {
    max-width: 500px;
    padding-bottom: 175px;
    font-size: 20px;
  }
}
