.main-footer {
  background-color: @footer-color;
  color: @secondary-font-color;
}

.main-footer .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-left: 20px;
  padding-right: 20px;
  font-family: @main-font-regular, @web-safe-font, @web-safe-default-font;
  font-size: 14px;
  line-height: 1.2;
}

.main-footer__logo {
  display: block;
  padding-top: 39px;
  padding-bottom: 25px;
  letter-spacing: 1px;
  font-size: 28px;
  color: @secondary-font-color;
}

.main-footer .cite-navigation {
  font-size: 14px;
}

.main-footer .cite-navigation h2 {
  margin: 0;
}

.main-footer .cite-navigation__list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.main-footer .cite-navigation__list li {
  margin-bottom: 15px;
  padding-right: 0;
}

.main-footer__social-list {
  padding-left: 0;
  list-style: none;
}

.main-footer__social-list li {
  flex-basis: 86px;
  display: inline;
}

.main-footer__social-item {
  padding-right: 10px;
}

.main-footer__cite-info {
  flex-grow: 1;
  padding-top: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-footer__copyright {
  order: 1;
  flex-basis: 700px;
  padding-top: 11px;
  padding-bottom: 8px;
  font-size: 12px;
  color: @sub-light-font-color;
  border-top: 1px solid @sub-light-font-color;
}

@media (min-width: @tablet-shift-width) {
  .main-footer .content-wrapper {
    min-height: 140px;
    align-items: center;
    padding-bottom: 20px;
  }

  .main-footer__navigation-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    width: 715px;
  }

  .main-footer .cite-navigation {
    flex-basis: 610px;
    font-size: 12px;
  }

  .main-footer .cite-navigation__list li {
    margin-bottom: 33px;
  }

  .main-footer__logo {
    flex-basis: 54px;
    padding-top: 34px;
    padding-bottom: 0;
    font-size: 18px;
  }

  .main-footer__cite-info {
    display: flex;
    width: 635px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid @sub-light-font-color;
    padding-top: 0;
  }

  .main-footer__social-list {
    order: 1;
    margin: 0;
  }

  .main-footer__social-item {
    padding-right: 16px;
  }

  .main-footer__copyright {
    flex-basis: 100px;
    border: none;
    padding-top: 18px;
    padding-bottom: 14px;
    padding-right: 35px;
  }

  .main-footer__copyright-text {
    display: inline-block;
    letter-spacing: 1px;
  }
}

@media (min-width: @desktop-shift-width) {
  .main-footer {
    background-color: @desktop-footer-color;
    color: @main-font-color;
  }

  .main-footer .content-wrapper {
    max-width: @desktop-shift-width;
    padding-left: 72px;
    padding-right: 72px;
  }

  .main-footer .cite-navigation {
    font-size: 16px;
  }

  .main-footer__logo {
    color: @main-font-color;
  }

  .main-footer__copyright {
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: @sub-dark-font-color;
  }
}
