.main-footer .content-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  color: @secondary-font-color;
  font-family: @main-font-regular, @web-safe-font, @web-safe-default-font;
  font-size: 14px;
  background-color: @footer-color;
  line-height: 1.2;
}

.main-footer ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.main-footer__logo {
  font-size: 28px;
  color: @secondary-font-color;
}

.main-footer__cite-info {
  font-size: 12px;
  color: @sub-light-font-color;
}

.main-footer .cite-navigation {
  font-size: 14px;
}

.main-footer__social-list li {
  display: inline;
}

@media (min-width: @tablet-shift-width) {
  .main-footer .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-footer .cite-navigation {
    font-size: 12px;
  }
}

@media (min-width: @desktop-shift-width) {
  .main-footer .content-wrapper {
    max-width: @desktop-shift-width;
    padding-left: 72px;
    padding-right: 72px;
    color: @main-font-color;
    background-color: @desktop-footer-color;
  }

  .main-footer .cite-navigation {
    font-size: 16px;
  }

  .main-footer__logo {
    color: @main-font-color;
  }

  .main-footer__cite-info {
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: @sub-dark-font-color;
  }
}
