.size {
  padding: 4px 19px 26px;
}

.size__list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.size__preview {
  position: relative;
  display: block;
  max-width: 140px;
  margin: 46px auto 38px;
  text-align: center;
  background-image: url("../img/circle.svg");
}

.size__item {
  display: none;

  &--small {
    display: block;
  }

  &--small .size__preview {
    width: 109px;
    height: 109px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.size__choice-indicator {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 5px;
}

.size__value {
  position: absolute;
  top: 45%;
  left: 42%;
}

.size__text {
  margin-bottom: 60px;
  text-align: center;
  font-family: @main-font-regular, @web-safe-font, @web-safe-default-font;
  font-size: 14px;
  color: @note-font-color;
  line-height: 1.2;
}

.size__choose {
  padding: 17px 60px 15px;
  font-size: 13px;
}

@media (min-width: @tablet-shift-width) {
  .size {
    padding: 30px 45px 33px;
  }

  .size__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: -24px;
  }

  .size__preview {
    padding: 16px;
    margin: 0;
    border-radius: 50%;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-position: center;

    &:hover,
    :active {
      box-shadow: 0 6px 16px 0 @shadow-color;
    }
  }

  .size__item {
    display: block;

    &--small {
      display: block;
    }

    &--small .size__preview {
      min-width: 109px; // 77px + padding 16px * 2
      height: 109px;
      background-size: 77px 77px;
    }

    &--medium .size__preview {
      min-width: 139px; // 107px + padding 16px * 2
      height: 139px;
      background-size: 107px 107px;
    }

    &--big .size__preview {
      min-width: 152px; // 120px + padding 16px * 2
      height: 152px;
      background-image: url("../img/circle.svg"), url("../img/circle.svg");
      background-size: 120px 120px, 84px 84px;
    }

    &--huge .size__preview {
      min-width: 172px; // 140px + padding 16px * 2
      height: 172px;
      background-image: url("../img/circle.svg"), url("../img/circle.svg"), url("../img/circle.svg");
      background-size: 67px, 98px, 140px;
    }
  }

  .size__choice-indicator {
    display: none;
  }

  .size__choose {
    display: none;
  }

  .size__text {
    text-align: left;
    margin-top: 13px;
    margin-bottom: 43px;
    padding-left: 13px;
  }
}

@media (min-width: @desktop-shift-width) {
  .size {
    padding: 50px 82px 16px;
  }

  .size__list {
    align-items: baseline;
    margin: -25px auto 0;
    max-width: 910px;
  }

  .size__text {
    padding-top: 12px;
    font-size: 18px;
    line-height: 1.7;
  }

  .size__item {
    &--small .size__preview {
      min-width: 142px; // 110px + padding 16px * 2
      height: 142px;
      background-size: 110px;
    }

    &--medium .size__preview {
      min-width: 187px; // 155px + padding 16px * 2
      height: 187px;
      background-size: 155px 155px;
    }

    &--big .size__preview {
      min-width: 206px; // 174px + padding 16px * 2
      height: 206px;
      background-size: 174px 174px, 120px 120px;
    }

    &--huge .size__preview {
      min-width: 232px; // 200px + padding 16px * 2
      height: 232px;
      background-size: 96px, 140px, 200px;
    }
  }
}
